/* Footer Styles */
.footer {
  background: #EF4C00;
  border-radius: 20px 20px 0px 0px;
  opacity: 1;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.footer-content h4 {
  color: white;
  margin: 0;
  font-size: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons i {
  font-size: 28px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.social-icons i:hover {
  transform: scale(1.2);
}

.social-icons a {
  text-decoration: none;
}
