/* Hero Section */
.hero {
  position: relative;
  width: 60%;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 100px;
}

.hero img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  backdrop-filter: blur(6px); /* Glassmorphism effect */
  color: white;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.hero-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Ingredients Section */
.ingredients-title {
  text-align: center;
  color: #b30733;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 20px auto; /* Center title and add bottom margin */
}

.ingredients-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto; /* Center horizontally */
  padding: 0 16px; /* Horizontal padding for mobile */
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.card {
  background: #FFFFFF;
  box-shadow: 1px 73px 99px rgba(250, 84, 2, 0.15);
  border: 1px solid #FF98000D;
  border-radius: 30px;
  opacity: 1;
  width: fit-content;
  padding: 20px;
  margin: 0 auto; /* Center the card horizontally */
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ingredient span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background: #EF4C00;
  border: 6px solid #EDF0F3;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.title h3 {
  text-align: left;
  font: normal normal normal 16px Source Sans Pro;
  letter-spacing: 0;
  color: #263238;
  opacity: 1;
}

/* Instructions Section */
.how-to-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.how-to-card {
  background: #ffffff;
  border: 1px solid #ff98000d;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
  min-height: 76px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 1px 7px 9px rgba(250, 84, 2, 0.15);
}

.step-number {
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #EF4C00;
  border-radius: 10px;
  padding: 20px;
}

.step-text {
  font-size: 10px;
  font-weight: 500;
  color: #333;
}

.line{
  width: 300px;
  height: 1px;
  /* UI Properties */
  border: 1px solid #EF4C00;
  opacity: 1;
  display: inline-block;
  margin-left: 5px;

}

